@import "../../styles.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70vw;
}

.image {
  margin-bottom: 20px;
}

.title{
  font-family: $main-font;
  font-size: 2.5rem;
  margin-top: -150px;
  @include whiteTextWithOutline;
  z-index: 11;
  margin-bottom: 110px;
  margin-left: -400px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.filters{
  width: 30%;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
