@use "../../styles.scss" as *;

.h1 {
  font-size: 2.5rem;
  color: $white-text-color;
  padding-left: 150px;
  padding-top: 150px;
  display: inline-block;
}

.paragraph{
  @include whiteTextWithOutline;
  padding-left: 150px;
}

.button {
  margin-left: 150px;
  margin-top: 55px;
}