@use "../../styles.scss" as *;

.header {
  position: absolute;
  border-bottom: 1px solid #fcfcfc;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  z-index: 10;
}

.link {
  text-decoration: none;
  color: #fcfcfc;
  font-size: 20px;
  margin-left: 20px;
  display: inline;
  align-items: center;
  justify-content: center;
  font-family: $main-font;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: #f5f5f5;
    text-decoration: underline;
  }
}

.nav {
  display: flex;
  align-items: center;
  gap: 16px;

  @media (max-width: 768px) {
    align-items: flex-start;
    gap: 8px;
  }
}

.select {
  padding: 6px 12px;
  border-radius: 2px;
  border: 1px solid white;
  background: none;
  color: #dc9223;
  text-shadow: 0 0 1px black, 0 0 1px black;
  font-weight: 500;
  margin-left: 16px;
  width: 100px;
}

@media (max-width: 768px) {
  .header {
    height: auto;
    padding: 8px 0;
    align-items: flex-start;
    gap: 8px;
  }

  .link {
    font-size: 16px;
    margin-left: 16px;
  }

  .select {
    font-size: 14px;
    margin-left: 16px;
  }
}

@media (max-width: 480px) {
  .link {
    font-size: 14px;
    margin-left: 12px;
  }

  .select {
    font-size: 13px;
    margin-left: 12px;
  }
}
