@import "../../styles.scss";

.filters {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

select {
  padding: 8px;
  border: 1px solid #ccc;
  background-color: #fdf8ef;
  color: #333;
  border-radius: 4px;
  outline: none;
  font-family: $main-font;
  font-size: 16px;
  font-weight: 600;

  &:focus {
    border-color: #d6af65;
  }
}

.button {
  font-family: $main-font;
  font-weight: 500;
  background-color: #d6af65;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  justify-self: flex-end;
  margin-top: 7px;


  &:hover {
    background-color: #c39d52;
  }
}

fieldset {
  border: 2px solid #d6af65;
  padding: 16px;
  border-radius: 5px;
}

.amenitiesGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  margin-top: 12px;
}

label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  input[type="checkbox"] {
    accent-color: #d6af65;
  }
}
