// colors
$color-gold: #D6AF65;
$color-gold-dark: #dc9223;
$color-beige: #F5DEB3;
$color-slate-blue: #4E6A92;
$color-dark: #1E1E1E;

// text colors
$black-text-color: $color-dark;
$white-text-color: #fcfcfc;

// font families
$main-font: "main-font";

@font-face {
  font-family: "main-font";
  src: url("./src/assets/Fonts/CormorantGaramond-Light.ttf")
  
}