@use "../../styles.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70vw;
}

.image {
  filter: brightness(2) contrast(1.1);
}

.h1{
  font-family: $main-font;
  margin-top: -80px;
  color: white;
  z-index: 11;
  margin-bottom: 70px;
  margin-left: -400px;
}

.mainInformation {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  width: 70vw;
}

.gallery {
  width: 500px;
}

.infoBlock{
  display: flex;
  justify-content: space-between;
}
.info{
  margin-top: 0;
  display: flex;
flex-direction: column;
}

.facilitiesCard {
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid #d6af65;
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(4px);
  max-width: 300px;
}

.h4{
  margin-top: 0;
}

.rating{
  font-size: larger;
  font-weight: bold;
}

.amenities {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.description{
  font-family: $main-font;
  font-size: 1.2rem;
}

.buttonContainer{
margin-bottom: 10px;
  margin-top: 25px;
}